<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body{
            color: rgb(225, 255, 247);
            background-color: black;
            text-align: center;
        }
        
    </style>

    <title>Testing</title>
</head>
<body>
    <h1>
        Yes {{name}}! since its working fee is {{price}} ✅
        <br>
        adding filter to check capfirst filter in my name - {{name|capfirst}}
        <br>
        more filters to check fee value -> {{price|default:"Nothing is Free"}} and date is {{today|date:'D d M Y'}}
        <br>
        {% if name == 'ketu' %}
        <h2>Hello {{name}}</h2>
        {% endif %}
    </h1>
</body>
</html>

